spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cashgrid
    username: cashgrid
    password: cashgrid_dev
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    clean-disabled: false

logging:
  level:
    com.erenalyoruk.cashgrid: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
