spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  flyway:
    clean-disabled: true

logging:
  level:
    com.erenalyoruk.cashgrid: INFO
    org.springframework.security: WARN
